.hero-slider{
  position: relative;
  max-width: 1200px;
  margin: 100px auto 50px;
  height: 400px; /* fixed height */
  overflow: hidden;
  border-radius: 10px;
}

.slides{
  position: relative;
  width: 100%;
  height: 100%;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide.active{
  display: block;
}
